/*aqui deixa a tabela com as linhas pretas e brancas*/
table.table tr:nth-child(even){
    background-color: rgb(235, 241, 241);
}

table.table{
    width: 100%;
    text-align: left;
}

table.table td:nth-child(1){
    width: 200px;
}

table.table td:nth-child(2){
    width: 110px;
    text-align: center;
}

table.table td:nth-child(3){
    width: 60px;
    text-align: center;
}
table.table td:nth-child(4){
    width: 300px;
    text-align: left;
}
table.table td:nth-child(5){
    width: 200px;
    text-align: left;
}
